<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Group</title>
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/create-group.css') }}">
</head>
<body>

    <div class="container">

        <div class="header">
            <h1>Edit Group ✏️</h1>
            <p>Update your group details.</p>
        </div>

        <form method="POST">

            <label>Group Name</label>
            <input
                type="text"
                id="groupName"
                name="groupName"
                value="{{ group.name }}">

            <label>Description</label>
            <textarea
                id="groupDescription"
                name="groupDescription">{{ group.description }}</textarea>
            <div class="member-section">

                <label>Add Member</label>

                <div class="member-input">
                    <input
                        type="email"
                        id="memberEmail"
                        placeholder="friend@gmail.com"
                    >

                    <button
                        type="button"
                        id="addMemberBtn">
                        + Add
                    </button>
                </div>

            </div>

            <div class="members-list">

                <h3>Members</h3>

                <ul id="membersList">

                    {% for member in group.members %}

                    <li>
                        {{ member }}
                        <button
                            type="button"
                            class="remove-btn">
                            Remove
                        </button>
                    </li>

                    {% endfor %}

                </ul>
                <input
                    type="hidden"
                    id="members"
                    name="members"
                    value="{{ group.members|join(',') }}">

            </div>

            <button
                type="submit"
                id="createGroupBtn"
                class="create-btn">
                Update Group
            </button>
            <a href="/group/{{ id }}">
                <button class="back-btn">
                    ← Back to Group
                </button>
            </a>

        </form>

    </div>
    <script src="{{ url_for('static', filename='js/create-group.js') }}"></script>


</body>
</html>